nav.navbar.navbar-expand-md.navbar-center.navbar-light.bg-light.mx-auto
  button(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
    span.navbar-toggler-icon

  div(id="navbarSupportedContent").collapse.navbar-collapse
    ul.navbar-nav.mx-auto
      if currentPage === 'home'
        li.nav-item.active
          a(href="/index").nav-link Home
            span.sr-only(current)
      else
        li.nav-item
          a.nav-link(href="/index") Home

      if currentPage === 'invitation'
        li.nav-item.active
          a(href="/invitation").nav-link Invitation
            span.sr-only(current)
      else
        li.nav-item
          a.nav-link(href="/invitation") Invitation

      if currentPage === 'rsvp'
        li.nav-item.active
          a(href="/rsvp").nav-link RSVP
            span.sr-only(current)
      else
        li.nav-item
          a.nav-link(href="/rsvp") RSVP

      if currentPage === 'registry'
        li.nav-item.active
          a(href="/registry").nav-link Registry
            span.sr-only(current)
      else
        li.nav-item
          a.nav-link(href="/registry") Registry

      if currentPage === 'location'
        li.nav-item.active
          a(href="/location").nav-link Location
            span.sr-only(current)
      else
        li.nav-item
          a.nav-link(href="/location") Location

      if currentPage === 'itinerary'
        li.nav-item.active
          a(href="/itinerary").nav-link Itinerary
            span.sr-only(current)
      else
        li.nav-item
          a.nav-link(href="/itinerary") Itinerary