extends ../templates/base.pug

block content
  div.marika-hover
    img.rounded.mx-auto.d-block.welcome-image(src="assets/us.jpg" title="special thanks to marika here")
    a(href="https://bit.ly/2xP8c0q").marika-thanks Photograph by Marika
  .home
    .intro
      .rw Racheal Whiteside
      .and and
      .gn Gino Notto
      .invite invite you to share in their happiness
    .eventdate
      .date
        .month July
        .day 28
        .year 2018
      .time twelve o' clock
    .place Hotel Henry
    .location
      .street 444 Forest Ave
      .address-divider.far.fa-circle
      .address Buffalo, NY 14213
    .reception A cocktail reception full of family, friends, food, and drinks to follow
    .reception Dress will be cocktail attire