extends ../templates/base.pug

block content
  .timeline-title Gino and Racheal's Wedding Day
  .itinerary
    .timeline
      .date-title Friday, July 27th, 2018
      .timeline-item
        .timeline-time 6:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 7:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 8:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 9:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
    .timeline
      .date-title Saturday, July 28th, 2018
      .timeline-item
        .timeline-time 12:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 1:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 2:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 3:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
    .timeline
      .date-title Sunday, July 29th, 2018
      .timeline-item
        .timeline-time 6:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 7:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 8:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.
      .timeline-item
        .timeline-time 9:00pm
        .timeline-detail Lorem ipsum dolor sit amet, consectetur adipiscing.

