extends ../templates/base.pug

block content
  .timeline-title Gino and Racheal's Wedding Day
  .itinerary
    .timeline
      .date-title Saturday, July 28th, 2018
      .timeline-item
        .timeline-time 11:45 am
        .timeline-detail Begin Seating For Ceremony
      .timeline-item
        .timeline-time 12:00 pm
        .timeline-detail Wedding Ceremony
      .timeline-item
        .timeline-time 12:30 pm
        .timeline-detail Cocktails & Snackies
      .timeline-item
        .timeline-time 1:15 pm
        .timeline-detail Grand Entrance
      .timeline-item
        .timeline-time 1:30 pm
        .timeline-detail Food Stations Commence
      .timeline-item
        .timeline-time 2:00 pm
        .timeline-detail Special Dances
      .timeline-item
        .timeline-time 2:15 pm
        .timeline-detail Boogie Time
      .timeline-item
        .timeline-time 3:00 pm
        .timeline-detail Toasts
      .timeline-item
        .timeline-time 4:00 pm
        .timeline-detail Cake Cutting
      .timeline-item
        .timeline-time 6:00 pm
        .timeline-detail The Newlyweds Live Happily Ever After
    .date-title We Can't Wait To See You On Our Special Day!
          


