extends ../templates/base.pug

block content
  .itinerary
    .timeline-title Gino and Racheal's Wedding Day
    .timeline
      .date-title Friday, July 27th, 2018
      .timeline-item
        .timeline-time 6:00pm
        .timeline-detail We do something