extends ../templates/base.pug

block content
  .timeline-title Gino and Racheal's Wedding Day
  .itinerary
    .timeline
      .date-title Saturday, July 28th, 2018
      .timeline-item
        .timeline-time 11:45 am
        .timeline-detail Begin seating for ceremony.
      .timeline-item
        .timeline-time 12:00 pm
        .timeline-detail Wedding ceremony begins.
      .timeline-item
        .timeline-time 12:30 pm
        .timeline-detail Cocktail hour begins.
      .timeline-item
        .timeline-time 1:00 pm
        .timeline-detail Food service begins.
      .timeline-item
        .timeline-time 3:30 pm
        .timeline-detail Cake cutting.
      .timeline-item
        .timeline-time 6:00 pm
        .timeline-detail The couple lives happily ever after.
    .date-title We're still figuring out the rest! Check back closer to the wedding for more information.

          


