extends ../templates/base.pug

block content
  img(src="/assets/hotelhenry.jpg").hero-image
  hr
  .location-container
    .location-info
      h3 Hotel Henry
      p Hotel Henry is located at #[a(href="https://goo.gl/maps/VFv2mDxGjto") 444 Forest Ave, Buffalo NY, 14213]. The entrance is off of Rockwell Rd. Free valet service will be provided.
      h3 Coming From Cuba
      p If you are coming from Cuba, here is our recommended set of directions.
      ol
        li Take 16 N to 400 N
        li Take 400 N to I-190 N
        li Take I-190 N to NY-198 Scajauda Expressway
        li Take the Grant St exit
        li Turn left onto Letchworth Rd
        li Continue onto Rockwell Rd
        li Look for sign for Hotel Henry entrance on right
    .location-map
      iframe(width="100%" height="400px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJMWyVktgS04kRGG0mp51IZbc&key=AIzaSyAv0ucexY8k4A2cbm7k0mBRFV230ekIxPY" allowfullscreen)
        span.fas.fa-spinner.fa-pulse