extends ../templates/base.pug

block content
  p.
    We look forward to having everyone celebrate our wedding! If you want to help us get started we
    created an Amazon registry which you can get to by clicking the Amazon icon below. Due to the difficulty and cost of
    transporting gifts back from Buffalo to NYC, if you would like to give us a gift, please select it from our Amazon
    registry and ship it to the address listed on the registry. Thank you and we look forward to seeing you!
  div.amazon-registry-link
    a(href=href="https://www.amazon.com/wedding/racheal-whiteside-gino-notto-buffalo-july-2018/registry/1RQSZ9Q12NXL7")
      img(src="assets/amazon.jpg").hero-image
      span Please click here or the image above to go to our registry
