extends ../templates/base.pug

block content
  p A Nice Message Here
  div.amazon-registry-link
    a(href=href="https://www.amazon.com/wedding/gino-notto-racheal-whiteside-buffalo-july-2018/registry/1U52KQULUGHXL")
      img(src="/assets/amazon.jpg").hero-image
      span Please click here or the image above to go to our registry
      