extends ../templates/base.pug

block content
  p.
    We look forward to having everyone celebrate at our wedding the most! If you want to help us get started we
    have started an Amazon registry which you can get to by clicking the Amazon icon below. Due to the difficulty and cost of 
    transporting gifts back from Buffalo to NYC, we request that all gifts be ordered from our Amazon registry and shipped to 
    the address listed on the registry. Thank you!
  div.amazon-registry-link
    a(href=href="https://www.amazon.com/wedding/gino-notto-racheal-whiteside-buffalo-july-2018/registry/1U52KQULUGHXL")
      img(src="/assets/amazon.jpg").hero-image
      span Please click here or the image above to go to our registry
      