extends ../templates/base.pug

block content
  div.marika-hover
    img.rounded.mx-auto.d-block.welcome-image(src="/assets/friends_jumping.jpg" title="Photography by Marika - Thank You!")
    a(href="https://bit.ly/2xP8c0q").marika-thanks Photograph by Marika
  .home
    h2.thank-you-header Thank You Everyone For Coming!
