extends ../templates/base.pug

block content
  div.marika-hover
    img.rounded.mx-auto.d-block.welcome-image(src="assets/friends_jumping.jpg" title="Photography by Marika - Thank You!")
    a(href="https://bit.ly/2xP8c0q").marika-thanks Photograph by Marika
  .home
    h2.thank-you-header Thank You Everyone For Coming!
    p.
      We want to thank everyone once more for coming! It was an amazing day and we couldn't be
      happier with the outcome. We have received our wedding photos from Marika of Marika Photography in Angelica, NY and uploaded them
      to Google Drive. You can find them here: #[strong #[a(href="https://drive.google.com/open?id=1TO4ZSmlENcJLypUfQJRrK4gp41wcnWlZ") wedding photos!]]

    p.
      The drive has a folder "Wedding" and in that folder are three more folders named "Album", "BWs", and "Original Wedding."
      The "Album" folder is hand picked by Marika and has around 400 pictures. The "BWs" album is black and white versions of those.
      Finally, the last folder is the #[i rest] of the photos from the wedding. We also added a folder called "Guest Additions" for anyone that wants to add more photos. If you have any photos you'd like to share, please add them
      there!

    p.
      Finally, thank you to everyone who helped make our day so special including Whitney of Flowers by Whit for doing an amazing
      job with all of the decorations and floral arrangements and Marika for being an amazing photographer.

    h2 👰 🤵